.checkbox-container{
    display:block;
    position:relative;
    padding-left:20px;
    margin-bottom:12px;
    cursor:pointer;
    font-size:12px;
    user-select:none;
    .checkbox{
        position:absolute;
        height:0;
        width:0;
        opacity:0;
        &:checked ~ .checkmark:after{
            display:block;
        }
        &:checked ~ .checkmark{
            background-color:$mainCyan;
            border-color:$mainCyan;
        }

    }
    .checkmark{
        position:absolute;
        top:0;
        left:0;
        height:12px;
        width:12px;
        background-color:transparent;
        border:1px solid $errorColor;
        &:after{
            content:"";
            position:absolute;
            display:none;
        }
    }
}