body.fixed .gallery-items{
    overflow-x: hidden; 
}
.gallery-items{
    display: flex;
    flex-flow:row;
    position:relative;
    margin-bottom:2em;
    overflow:auto;
    &::-webkit-scrollbar { width: 0 !important }
    .wallpaper-item{
        display:none;
    }
    .screenshot-item{
        display:block;
    }
    &.gallery-wallpaper{
        .wallpaper-item{
            display:block;
        }
        .screenshot-item{
            display:none;
        }
    }
    @include breakpoint(md){
        display:none;
    }
}

.gallery-canvases{
    display: none;
    flex-flow:row;
    width:100%;
    position:relative;
    
    height:442px;
    @include breakpoint(md){
        display:flex;
    }
    .gallery-item-canvas{
        //width: 254px;
        //margin-right: calc((100% - (254px * 4))/ 3);
        width: calc(25% - ((40px * 3)/4));
        margin-right:40px;
        height: 1.7401574803149606299212598425197 * 254px;
    }
    &.gallery-wallpaper{
        justify-content:space-between;
        flex:1;
        flex-wrap:wrap;
        flex-direction:column;
        //height:442px;
        .gallery-item-canvas:nth-child(4){
           display:none;
        }
        .gallery-item-canvas:nth-child(1){
            //width:764px;
            width:67.37%;
            flex: 0 0 100%;
            margin-right:3.53%;
        }
        .gallery-item-canvas:nth-child(2), .gallery-item-canvas:nth-child(3){
           width:29.1%;
           height:186px;
           margin-right:0;
         }
    }
}

.gallery{
    margin: 2em 0;
    display:flex;
    flex-flow:column;
    &.fixed-sign-up{
        @include breakpoint(md){
            padding-top:100px;
        }
    }
}

.gallery-container{
    position:relative;
    order:2;
    @include breakpoint(md){
        order:1;
    }
}

.gallery-item{
    width:100%;
    position:relative;
    img{
        width:300px;
        margin:1em;
    }
    .gallery-item-link{
        position: relative;
        height:442px;
        display:block;
        .gallery-item-canvas{
            position:absolute;
            height: 100%;
            width:100%;
            top:0;
            left:0;

            
        }
    }
}
.gallery-item-canvas{
    cursor:pointer;
}
.gallery-previous{
    left:0;
    @include breakpoint(ld){
        left:-50px;   
    }
    &:hover svg{
        animation-name: gallery-arrow-left ;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
    }     
}

.gallery-next{
    right:0;
    @include breakpoint(ld){
        right:-49px;   
    }
    &:hover svg{
        animation-name: gallery-arrow-right ;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        
    }    
}

.gallery-previous, .gallery-next{
    position:absolute;
    width:50px;
    height:50px;
    top:calc(50% - 20px);
    background-color:$mainYellow;
    color:black;
    display:none;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    cursor:pointer;
    @include breakpoint(md){
        display:flex;
    }


}

@keyframes gallery-arrow-right {
    0%   {transform:translateX(0);} 
    50%  {transform:translateX(45px); }
    51% {transform:translateX(-45px); }
    100%   {transform:translateX(0);} 

}


@keyframes gallery-arrow-left {
    0%   {transform:translateX(0);} 
    50%  {transform:translateX(-45px); }
    51% {transform:translateX(45px); }
    100%   {transform:translateX(0);} 

}


@keyframes pulse{
    0% {background-color:$mainYellow;}
    50%{ background-color:black;}
}


.gallery-options{
    display: flex;
    flex-flow:row;
    justify-content:center;
    order:1;
    margin-top:2em;
    @include breakpoint(md){
        order:2;
    }
    .gallery-option{
        padding:.5em;
        font-size:1.125em;
        background-color:black;
        color:$mainYellow;
        font-weight:300;
        border:none;
        position:relative;
        cursor:pointer;
        margin-bottom:1.5em;
        user-select: none;
        
        width:50%;
        font-family:BlenderBookPro;
        @include breakpoint(md){
            width:auto;
            margin:0 1em;
        }
        &:hover{
            span{
                background-size: 100% 100%;
            }
        }
        &.active{
            background-color:$mainYellow;
            color:black;
            span{
                @include underlineGradient(transparent,black,'thin');
                //background-image: linear-gradient(transparent calc(100% - 1px),black 1px);
                
            }
        }
        span{
            @include underlineGradient(transparent,$mainYellow,'thin');
            background-size: 0% 100%;
            transition: background-size .5s;
            display: inline;
            background-repeat: no-repeat;
        }

    }
}