.pulse{
    display:none;
    @include breakpoint(ld){
        display:block;
    }
    position:absolute;
    height:10px;
    width:33px;
    left:-125px;
    top:80px;
    background-color:black;
    transition:all .2s ease;
    &.active{
        background-color:$mainYellow;
        box-shadow:  0 0 7px 1px rgba($mainYellow,.52), 0px 0px 40px $mainYellow;
    }
}