<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Cyberpunk 2077 — from the creators of The Witcher 3: Wild Hunt</title>
  <link rel="stylesheet" href="../css/main.css" type="text/css">

  <script defer src="../js/font-awesome/all.js"></script> <!--load all styles -->
  <link href="https://fonts.googleapis.com/css?family=Yantramanav:300,400" rel="stylesheet">
  </head>
  <body>
    <header class="news-header">
        <div class="news-header-image">
            <img src="../images/news-header.jpg" alt="">
            <div class="news-header-left">
                <div class="news-header-image-container">
                    <img src="../images/news-header.jpg" alt="">
                </div>
            </div>
            <div class="news-header-right">
                <div class="news-header-image-container">
                    <img src="../images/news-header.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="header-content news-header-content">
            <div class="news-header-content-container">
                <div class="news-header-logo">
                    <a href="" class="news-header-logo-link">
                        <img src="../images/cyberpunk-logo.png" alt="">
                    </a>
                </div>
                <div class="news-header-text">
                    <h1>Latest news</h1>
                </div>
            </div>

        </div>
    </header>
    <main class="main-section">
        <div class="content">
            <section class="news-headlines">
                <div class="news-container">
                    <div class="news-items full-news-items">
                        <div class="news-item">
                            <a href="#">
                                <div class="news-item-content">
                                    <span class="news-date slide-from-left">19.07.2018</span>
                                    <div class="news-item-header slide-from-left">
                                        <span>Cyberpunk 2077 E3 2018 Trailer Frame by Frame EP10 - Night City</span>
                                    </div>
                                    <button class="news-button slide-from-left"><span>More <i class="fal fa-long-arrow-right"></i></span></button>
                                </div>
                            </a>
                        </div>
                        <div class="news-item">
                            <a href="#">
                                <div class="news-item-content">
                                    <span class="news-date slide-from-left">17.07.2018</span>
                                    <div class="news-item-header slide-from-left">
                                        <span>Cyberpunk 2077 E3 2018 Trailer Frame by Frame EP09 - Gun Laws</span>
                                    </div>
                                    <button class="news-button slide-from-left"><span>More <i class="fal fa-long-arrow-right"></i></span></button>
                                </div>
                            </a>
                        </div>
                        <div class="news-item">
                            <a href="#">
                                <div class="news-item-content">
                                    <span class="news-date slide-from-left">12.07.2018</span>
                                    <div class="news-item-header slide-from-left">
                                        <span>Cyberpunk 2077 E3 2018 Trailer Frame by Frame EP08 - Gangs</span>
                                    </div>
                                    <button class="news-button slide-from-left"><span>More <i class="fal fa-long-arrow-right"></i></span></button>        
                                </div>
                            </a>
                        </div>
                        <div class="news-item">
                            <a href="#">
                                <div class="news-item-content">
                                    <span class="news-date slide-from-left">11.07.2018</span>
                                    <div class="news-item-header slide-from-left">
                                        <span>Cyberpunk 2077 E3 2018 Trailer Frame by Frame EP07 - Cyberware</span>
                                    </div>
                                    <button class="news-button slide-from-left"><span>More <i class="fal fa-long-arrow-right"></i></span></button>            
                                </div>
                            </a>
                        </div>
                        <div class="news-item">
                            <a href="#">
                                <div class="news-item-content">    
                                    <span class="news-date slide-from-left">09.07.2018</span>
                                    <div class="news-item-header slide-from-left">
                                        <span>New feature on our forums - keep track of the RED posts</span>
                                    </div>
                                    <button class="news-button slide-from-left"><span>More <i class="fal fa-long-arrow-right"></i></span></button>
                                </div>
                            </a>
                        </div>
                        <div class="news-item">
                            <a href="#">
                                <div class="news-item-content">
                                    <span class="news-date slide-from-left">06.07.2018</span>
                                    <div class="news-item-header slide-from-left">
                                        <span>Cyberpunk 2077 E3 2018 Trailer Frame by Frame EP06</span>
                                    </div>
                                    <button class="news-button slide-from-left"><span>More <i class="fal fa-long-arrow-right"></i></span></button>
                                </div>
                            </a>
                        </div>
                        <div class="news-item">
                            <a href="#">
                                <div class="news-item-content">
                                    <span class="news-date slide-from-left">03.07.2018</span>
                                    <div class="news-item-header slide-from-left">
                                        <span>Cyberpunk 2077 E3 2018 Trailer Frame by Frame EP05</span>
                                    </div>
                                    <button class="news-button slide-from-left"><span>More <i class="fal fa-long-arrow-right"></i></span></button>        
                                </div>
                            </a>
                        </div>
                        <div class="news-item">
                            <a href="#">
                                <div class="news-item-content">
                                    <span class="news-date slide-from-left">28.06.2018</span>
                                    <div class="news-item-header slide-from-left">
                                        <span>Cyberpunk 2077 E3 2018 Trailer Frame by Frame EP04</span>
                                    </div>
                                    <button class="news-button slide-from-left"><span>More <i class="fal fa-long-arrow-right"></i></span></button>        
                                </div>
                            </a>
                        </div>
                        <div class="news-item">
                            <a href="#">
                                <div class="news-item-content">
                                    <span class="news-date slide-from-left">26.06.2018</span>
                                    <div class="news-item-header slide-from-left">
                                        <span>Cyberpunk 2077 E3 2018 Trailer Frame by Frame EP03</span>
                                    </div>
                                    <button class="news-button slide-from-left"><span>More <i class="fal fa-long-arrow-right"></i></span></button>
                                </div>
                            </a>
                        </div>
                        <div class="news-item">
                            <a href="#">
                                <div class="news-item-content">
                                    <span class="news-date slide-from-left">21.06.2018</span>
                                    <div class="news-item-header slide-from-left">
                                        <span>Cyberpunk 2077 E3 2018 Trailer Frame by Frame EP02</span>
                                    </div>
                                    <button class="news-button slide-from-left"><span>More <i class="fal fa-long-arrow-right"></i></span></button>            
                                </div>
                            </a>
                        </div>
                        <div class="news-item">
                            <a href="#">
                                <div class="news-item-content">
                                    <span class="news-date slide-from-left">19.06.2018</span>
                                    <div class="news-item-header slide-from-left">
                                        <span>Cyberpunk 2077 E3 2018 Trailer Frame by Frame EP01</span>
                                    </div>
                                    <button class="news-button slide-from-left"><span>More <i class="fal fa-long-arrow-right"></i></span></button>            
                                </div>
                            </a>
                        </div>                            
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-links">
                    <a href="" class="footer-link "><div class="slide-from-left footer-link-content">thewitcher.com <i class="fal fa-long-arrow-right"></i></div></a>
                    <a href="" class="footer-link "><div class="slide-from-left footer-link-content">playgwent.com <i class="fal fa-long-arrow-right"></i></div></a>
                <a href="" class="footer-link "><div class="slide-from-left footer-link-content">Terms of Use &amp; Privacy Policy <i class="fal fa-long-arrow-right"></i></div></a>
                <a href="" class="footer-link"><div class="slide-from-left footer-link-content">Careers <i class="fal fa-long-arrow-right"></i></div></a>
                <a href="" class="footer-link"><div class="slide-from-left footer-link-content">facebook.com/CyberpunkGame <i class="fal fa-long-arrow-right"></i></div></a>
                <a href="" class="footer-link"><div class="slide-from-left footer-link-content">twitter.com/cyberpunkgame <i class="fal fa-long-arrow-right"></i></div></a>
            </div>
            <div class="footer-platforms">
                <div class="footer-platform"><img class="slide-from-left" src="../images/xbox.png" alt=""></div>
                <div class="footer-platform"><img class="slide-from-left" src="../images/ps4.png" alt=""></div>
                <div class="footer-platform"><img class="slide-from-left" src="../images/pc.png" alt=""></div>
            </div>
            <div class="footer-language">
                <div class="footer-language-content">
                    <div class="footer-language-controls slide-from-left">
                        <i class="far fa-globe-africa"></i><span class="footer-language-name">English</span><i class="fas fa-chevron-down"></i>
                    </div>
                </div>                  
            </div>
            <div class="footer-copyright">
                <div class="slide-from-left" >
                    CD PROJEKT®, Cyberpunk®, Cyberpunk 2077® are registered trademarks of CD PROJEKT S.A. © 2018 CD PROJEKT S.A. All rights reserved. All other copyrights and trademarks are the property of their respective owners.
                </div>
            </div>
            <div class="footer-games">
                <a class="footer-game" href=""><img class="slide-from-left" src="../images/witcher.png" alt=""><div class="footer-game-title slide-from-left">thewitcher.com <i class="fal fa-long-arrow-right"></i></div></a>
                <a class="footer-game" href=""><img class="slide-from-left" src="../images/gwent.png" alt=""><div class="footer-game-title slide-from-left">playgwent.com <i class="fal fa-long-arrow-right"></i></div></a>
            </div>
            <div class="footer-logos">
                    <div class="footer-logo"><img class="slide-from-left" src="../images/CDProjektRed-White.svg" alt=""></div>
                    <div class="footer-logo"><img class="slide-from-left" src="../images/esrb.png" alt=""></div>
                </div>
        </div>

        <script src="../js/scripts.js"></script>

    </footer>
  </body>

  <script>

    

    let galleryNext = document.querySelector('#gallery-next-button');
    galleryNext.addEventListener('click',(event)=>{
        incrementGallery();
    });

  </script>

</html>